
body{ 
    background-image: linear-gradient(red, purple);
  }
h1 {
    color: red; font-size:60px
}
h2 {
    color: white; font-size:48px
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}