
.jlogo{
  height: 120px;
  margin: 10px;
  
}

.jdrawing{
  transform: rotate(270deg);
}

body{
  height: 150vh; 
  background-image: linear-gradient(white,green);
  background-size: cover;
}
body{
  margin: 15px
}

.section3{
  margin-top: 75px;
  color: white;
  font-size: 14px;
  font-display: center;
}
#page-container {
  position: relative;
  min-height: 150vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
label{
  align-content: center;
  color:white;
}

button{
  padding-left: 180px;
  : 100px;

}

h2{
  text-align: center;
}
footer li a{
  text-align: center;
  font-size: 15px;
}

h5{
  font-size:25px;
  color: white;
}

input {
  width: 50px;
  height: 100px
}

label {
  margin-bottom: 20px;
  font-size: 25px;
}
.forgotPassword{
  text-align: center;
}

.forgotUsername{
  text-align: center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: green !important;
}